/*Layout*/

:root {
    --Azulescuro: #1205da;
    --branco: #ffffff;
    --AzulEscuro2: #111184;
}

/*CSS Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Yrsa", serif;
}

.container {
    display: flex;
    margin: 0 auto;
}

.btn {
    text-decoration: none;
    font-size: 2.1rem;
    font-weight: 600;
    background-color: var(--branco);
    padding: 10px 35px;
    color: #000;
    border-radius: 50px;
}

/*Fim Layout*/

/*SmartPhone Portrait*/
header {
    height: 70px;
    background-color: var(--branco);
}

#logo img {
    width: 80px;
    height: 73px;
    padding-left: 10px;
    margin-top: 7px;
}

#check {
    display: none;
}

label {
    color: rgba(0, 0, 0, 0.75);
    font-size: 4rem;
    position: fixed;
    right: 15px;
    top: 1px;
    bottom: 10px;
}

nav ul {
    height: 100vh;
    background-color: rgba(255, 255, 255, 1);
    position: fixed;
    right: -65%;
    width: 65%;
    top: 70px;
    transition: all 0.5s;
}

#check:checked~ul {
    right: 0px;
}

nav ul li {
    list-style: none;
    padding: 20px;
    text-align: right;
    border-bottom: 1px solid var(--Azulescuro);
}

nav ul li a {
    text-decoration: none;
    color: var(#000);
}

/*Principal*/
main {
    height: 55vh;
    background: url(./img/banner.png);
    background-size: cover;
    background-position: center;
}

main .container {
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h1 {
    color: var(--branco);
    font-family: "Work Sans", sans-serif;
    text-shadow: 0px 5px 10px var(--preto), 0px 10px 10px rgba(0, 0, 0, 0.15), 0px 15px 15px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
    font-size: 2.4rem;
}

main h2 {
    font-size: 1.3rem;
    color: var(--branco);
    font-family: "Work Sans", sans-serif;
    text-shadow: 0px 5px 10px var(--preto), 0px 10px 10px rgba(0, 0, 0, 0.15), 0px 15px 15px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

/*Destaque*/
#Destaque {
    padding: 50px 15px;
    background: url(./img/MédicoEditado.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#Destaque .container {
    flex-direction: column;
}

#hero {
    text-align: center;
}

#hero img {
    height: 300px;
    width: 300px;
    border-radius: 100%;
    margin-bottom: 30px;
}

#hero-text h2 {
    margin-bottom: 10px;
    color: var(--branco);
}

#hero-text p {
    color: var(--branco);
}

.topic {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.topic img {
    width: 48px;
    height: 48px;
    margin-right: 10px;
}

.topic p {
    color: var(--branco);
    font-size: 1.5rem;
}

#OnePage .container{
    flex-direction: column;
}

#OnePage{
    padding: 0px 10px;
    background-color: var(--AzulEscuro2);
}

#texto h2{
    margin-top: 50px;
    color: var(--branco);
    margin-bottom: 10px;
}

#texto p{
    margin-bottom: 15px;
    color:var(--branco)
}

#video iframe{
    height: 191px;
    width: 340px;
    margin-bottom: 10px;
}
/*SmartPhone Portrait*/

/*SmartPhone Landscape*/
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }

    nav ul {
        width: 40%;
        right: -40%;
    }

    main {
        height: 75vh;
    }

    main h1 {
        font-size: 2.5rem;
    }

    #Destaque {
        padding: 50px 0px;
    }
    #Destaque > .container{
        flex-direction: column;
    }
    #hero{
        text-align: left;
    }
    #hero img{
        display: none;
    }
    #video iframe{
        width: 560px;
        height: 315px;
    }
}
/*SmartPhone landscape*/

/*Tablet Portrait*/
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    main h1 {
        font-size: 4.3rem;
    }

    main h2 {
        font-size: 3.1rem;
    }

    #texto h2{
        font-size: 2.4rem;
    }

    #texto p{
        font-size: 1.5rem;
    }
}

/*Tablet Portrait*/

/*Tablet Landscape*/
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }

    main h1 {
        font-size: 4.3rem;
    }

    main h2 {
        font-size: 2.4rem;
    }
}


/*Tablet Landscape*/

/*PC/Notebook*/
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
        justify-content: space-between;
    }

    header {
        height: 100px;
    }

    #logo img {
        width: 100px;
        height: 100px;
    }

    label {
        display: none;
    }

    nav ul {
        position: static;
        width: 100%;
        height: auto;
        background-color: transparent;
        margin-top: 20px;
    }

    nav ul li {
        border: none;
        float: left;
    }

    nav ul li a {
        font-size: 1.5rem;
        color: #000;
    }

    nav ul li a:hover {
        color: #daa520;
    }

    main {
        height: 85vh;
    }
    #hero img{
        width: 400px;
        height: 400px;
        display: flex;
    }

    #Destaque .container{
        flex-direction: row;
    }

    #hero-text{
        margin-left: 20px;
        height: 190px;
    }

    #hero-text h2{
        font-size: 2.1rem;
    }
    
    .topic{
        height: 40px;
        margin-left: 5px;
        padding-top: 210px;
    }

    #OnePage .container{
        flex-direction: row;
    }

    #video iframe{
        margin-top: 50px;
    }
}

/*PC/Notebook*/

/*Full HD/4k*/
@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }

    main h1 {
        font-size: 6rem;
    }

    main h2 {
        font-size: 4rem;
    }
}

/*Full HD/4k*/