/*Layout*/

:root {
    --Azulescuro: #1205da;
    --branco: #ffffff;
    --AzulEscuro2: #111184;
    --Preto: #000;
}

/*CSS Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Yrsa", serif;
}

.container {
    display: flex;
    margin: 0 auto;
}

.btn {
    text-decoration: none;
    font-size: 2.1rem;
    font-weight: 600;
    background-color: var(--branco);
    padding: 10px 35px;
    color: #000;
    border-radius: 50px;
    border: 3px solid var(--Preto)
}

.card {
    width: 341px;
    height: 520px;
    background-color: #fffafa;
    margin-bottom: 25px;
    border: 2px solid var(--branco);
    text-align: center;
    border-radius: 25px;
}

.card img {
    border-radius: 25px 25px 0px 0px;
}

#topo {
    position: fixed;
    right: 15px;
    bottom: 10px;
}

html {
    scroll-behavior: smooth;
}

/*Fim Layout*/

/*SmartPhone Portrait*/
header {
    height: 70px;
    background-color: var(--branco);
}

#logo img {
    width: 80px;
    height: 73px;
    padding-left: 10px;
    margin-top: 7px;
}

#check {
    display: none;
}

label {
    color: rgba(0, 0, 0, 0.75);
    font-size: 4rem;
    position: fixed;
    right: 15px;
    top: 1px;
    bottom: 10px;
}

nav ul {
    height: 100vh;
    background-color: rgba(255, 255, 255, 1);
    position: fixed;
    right: -65%;
    width: 65%;
    top: 70px;
    transition: all 0.5s;
}

#check:checked~ul {
    right: 0px;
}

nav ul li {
    list-style: none;
    padding: 20px;
    text-align: right;
    border-bottom: 1px solid var(--Azulescuro);
}

nav ul li a {
    text-decoration: none;
    color: var(--Preto);
}

/*Principal*/
main {
    height: 55vh;
    background: url(./img/banner.png);
    background-size: cover;
    background-position: center;
}

main .container {
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h1 {
    color: var(--branco);
    font-family: "Work Sans", sans-serif;
    text-shadow: 0px 5px 10px var(--preto), 0px 10px 10px rgba(0, 0, 0, 0.15), 0px 15px 15px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
    font-size: 2.4rem;
}

main h2 {
    font-size: 1.3rem;
    color: var(--branco);
    font-family: "Work Sans", sans-serif;
    text-shadow: 0px 5px 10px var(--preto), 0px 10px 10px rgba(0, 0, 0, 0.15), 0px 15px 15px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

/*Destaque*/
#Destaque {
    padding: 50px 15px;
    background: url(./img/Novo\ fundo22.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#Destaque .container {
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
}

#hero {
    text-align: center;
}

#hero img {
    height: 300px;
    width: 300px;
    border-radius: 100%;
    border: 6px solid var(--AzulEscuro2);
    margin-right: 30px;
    margin-bottom: 30px;
}

#hero-text h2 {
    margin-bottom: 10px;
    color: var(--Preto);
}

#hero-text p {
    color: var(--Preto);
    font-size: 1.4rem;
}

.topic {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.topic img {
    width: 48px;
    height: 48px;
    margin-right: 10px;
}

.topic p {
    font-size: 1.5rem;
}

#OnePage .container {
    flex-direction: column;
}

#OnePage {
    padding: 0px 10px;
    background-color: var(--AzulEscuro2);
}

#texto h2 {
    margin-top: 30px;
    color: var(--branco);
    margin-bottom: 10px;
}

#texto p {
    margin-bottom: 15px;
    color: var(--branco)
}

#video iframe {
    height: 191px;
    width: 340px;
    margin: 30px 0px;
}

#wire {
    display: flex;
    padding: 5px 5px;
    background: url(./img/Novo\ fundo22.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#wire .container {
    flex-direction: column;
    height: 400px;
}

#qrcode {
    display: none;
}

#texto2 h2 {
    margin-top: 30px;
    font-size: 2.1rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--Preto)
}

#texto2 p {
    font-size: 1.2rem;
    color: var(--Preto)
}

#pdf {
    margin-top: 30px;
}

#pdf a {
    text-decoration: none;
    background-color: var(--branco);
    font-weight: 600;
    padding: 10px 40px;
    font-size: 1.7rem;
    border-radius: 60px;
    color: var(--Azulescuro);
    border: 3px solid var(--AzulEscuro2);
}

#cartao {
    background-color: var(--AzulEscuro2);
    padding: 50px 0px 25px 0px;
}

#cartao .container {
    flex-direction: column;
    align-items: center;
}

.card h2 {
    font-size: 1.3rem;
    margin: 15px 0px;
}

.card p {
    text-align: left;
    padding: 0px 15px 30px 15px;
}

#contato .container #mapa iframe {
    display: none;
}

#contato{
    background-color: #b3ebf2;
}

#contato .container{
    flex-direction: column;
    padding: 20px 10px;
}

#contato p{
    font-size: 1.5rem;
}

#mapa{
    margin-bottom: 2px;
}

#endereco{
    margin-bottom: 20px;
}

#telefone{
    margin-top: 20px;
}

#endereco img{
    display: none;
}

#endereco #email img{
    display: flex;
}

footer{
    background-color: var(--branco);
}

footer .container{
    padding: 20px 10px;
    flex-direction: column;
    align-items: center;
}

footer .container #redes{
    margin-bottom: 20px;
}


/*SmartPhone Portrait*/

/*SmartPhone Landscape*/
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }

    nav ul {
        width: 40%;
        right: -40%;
    }

    main {
        height: 75vh;
    }

    main h1 {
        font-size: 2.5rem;
    }

    #Destaque {
        padding: 50px 0px;
    }

    #Destaque>.container {
        flex-direction: column;
    }

    #hero {
        text-align: left;
    }

    #hero img {
        display: none;
    }

    #video iframe {
        width: 560px;
        height: 315px;
    }

    footer .container{
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    footer .container #copyright{
        margin-bottom: 15px;
    }
}

/*SmartPhone landscape*/

/*Tablet Portrait*/
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    main h1 {
        font-size: 4.3rem;
    }

    main h2 {
        font-size: 3.1rem;
    }

    #texto h2 {
        font-size: 2.4rem;
    }

    #texto p {
        font-size: 1.5rem;
    }

    #texto2 h2 {
        font-size: 2.4rem;
    }

    #texto2 p {
        font-size: 1.5rem;
    }

    footer .container{
        justify-content: space-around;
    }
}

/*Tablet Portrait*/

/*Tablet Landscape*/
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }

    main h1 {
        font-size: 4.3rem;
    }

    main h2 {
        font-size: 2.4rem;
    }

    #cartao .container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .card {
        margin-right: 25px;
    }
}


/*Tablet Landscape*/

/*PC/Notebook*/
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
        justify-content: space-between;
    }

    header {
        height: 100px;
    }

    #logo img {
        width: 100px;
        height: 100px;
    }

    label {
        display: none;
    }

    nav ul {
        position: static;
        width: 100%;
        height: auto;
        background-color: transparent;
        margin-top: 20px;
    }

    nav ul li {
        border: none;
        float: left;
    }

    nav ul li a {
        font-size: 1.5rem;
        color: #000;
    }

    nav ul li a:hover {
        color: #daa520;
    }

    main {
        height: 85vh;
    }

    #hero img {
        width: 400px;
        height: 400px;
        display: flex;
    }

    #Destaque .container {
        flex-direction: row;
    }

    #hero-text {
        margin-left: 20px;
        height: 190px;
    }

    #hero-text h2 {
        font-size: 2.1rem;
    }

    .topic {
        height: 40px;
        margin-bottom: 30px;
    }

    #OnePage .container {
        flex-direction: row;
    }

    #video iframe {
        margin: 40px;
    }

    #texto {
        margin: 40px;
    }

    #wire .container {
        height: 300px;
        flex-direction: row;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    #qrcode {
        display: flex;
        height: 270px;
    }

    .card {
        margin-right: 0px;
    }

    #contato .container #mapa iframe {
        display: flex;
    }

    #mapa a{
        display: none;
    }

    #mapa p{
        margin-bottom: 10px;
    }

    #endereco img{
        display: flex;
    }

    #contato .container{
        flex-direction: row;
        justify-content: space-around;
    }

        footer .container{
        justify-content: space-between;
    }
}

/*PC/Notebook*/

/*Full HD/4k*/
@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }

    main h1 {
        font-size: 6rem;
    }

    main h2 {
        font-size: 4rem;
    }
}

/*Full HD/4k*/