/*Layout*/

:root {
    --Azulescuro: #1205da;
    --branco: #ffffff;
}

/*CSS Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Yrsa", serif;
}

.container {
    display: flex;
    margin: 0 auto;
}

.btn {
    text-decoration: none;
    font-size: 2.1rem;
    font-weight: 600;
    background-color: var(--branco);
    padding: 10px 35px;
    color: #000;
    border-radius: 50px;
}

/*Fim Layout*/

/*SmartPhone Portrait*/
header {
    height: 70px;
    background-color: var(--branco);
}

#logo img {
    width: 80px;
    height: 73px;
    padding-left: 10px;
    margin-top: 7px;
}

#check {
    display: none;
}

label {
    color: rgba(0, 0, 0, 0.75);
    font-size: 4rem;
    position: fixed;
    right: 15px;
    top: 1px;
    bottom: 10px;
}

nav ul {
    height: 100vh;
    background-color: rgba(18, 5, 218, 0.7);
    position: fixed;
    right: -65%;
    width: 65%;
    top: 70px;
    transition: all 0.5s;
}

#check:checked~ul {
    right: 0px;
}

nav ul li {
    list-style: none;
    padding: 20px;
    text-align: right;
    border: 1px solid var(--branco);
}

nav ul li a {
    text-decoration: none;
    color: var(--branco);
}

/*Principal*/
main {
    height: 55vh;
    background: url(./img/banner.png);
    background-size: cover;
    background-position: center;
}

main .container {
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h1 {
    color: var(--branco);
    font-family: "Work Sans", sans-serif;
    text-shadow: 0px 5px 10px var(--preto), 0px 10px 10px rgba(0, 0, 0, 0.15), 0px 15px 15px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
}

main h2 {
    font-size: 1rem;
    color: var(--branco);
    font-family: "Work Sans", sans-serif;
    text-shadow: 0px 5px 10px var(--preto), 0px 10px 10px rgba(0, 0, 0, 0.15), 0px 15px 15px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

/*SmartPhone Portrait*/

/*SmartPhone Landscape*/
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }

    nav ul {
        width: 40%;
        right: -40%;
    }

    main {
        height: 75vh;
    }

    main h1 {
        font-size: 2.5rem;
    }
}

/*SmartPhone landscape*/

/*Tablet Portrait*/
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
    main h1{
        font-size: 4.3rem;
    }
    main h2{
        font-size: 3.1rem;
    }
}

/*Tablet Portrait*/

/*Tablet Landscape*/
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }

    main h1 {
        font-size: 4.3rem;
    }

    main h2 {
        font-size: 2.4rem;
    }
}


/*Tablet Landscape*/

/*PC/Notebook*/
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
        justify-content: space-between;
    }

    header {
        height: 100px;
    }

    #logo img {
        width: 100px;
        height: 100px;
    }

    label {
        display: none;
    }

    nav ul {
        position: static;
        width: 100%;
        height: auto;
        background-color: transparent;
        margin-top: 20px;
    }

    nav ul li {
        border: none;
        float: left;
    }

    nav ul li a {
        font-size: 1.5rem;
        color: #000;
    }

    nav ul li a:hover {
        color: #daa520;
    }

    main {
        height: 85vh;
    }
}

/*PC/Notebook*/

/*Full HD/4k*/
@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }

    main h1 {
        font-size: 6rem;
    }

    main h2 {
        font-size: 4rem;
    }
}

/*Full HD/4k*/